/*** page ***/
	html, body {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background-color: #dddddd;
		color: #222222;
		font-family: 'Abel', sans-serif;
		font-size: 0px;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}

	/* j-logo */
		#j-logo {
			position: absolute;
			top: 14px;
			right: 8px;
			background-color: transparent;
			background-image: url("../resources/j.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: 32px;
			width: 32px;
			cursor: pointer;
			z-index: 1000;
			outline: none;
			filter: drop-shadow(0px 0px 2px #555555);
		}

		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0px 0px 2px #222222);
		}	

/*** overlay ***/
	#overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: #dddddd;
		transition: 2s;
		opacity: 1;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	#overlay[invisible] {
		opacity: 0;
		pointer-events: none;
	}

	#overlay-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 200px;
		height: 200px;
		border-radius: 100%;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: pointer;
		outline: none;
		background-color: #dddddd;
		background-image: url(logo.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 5px solid #222222;
		transition: 0.5s;
	}

	#overlay-button:hover, #overlay-button:focus {
		box-shadow: 0px 0px 20px #222222;
	}

	#overlay[hidden] #overlay-button {
		opacity: 0;
		pointer-events: none;
	}

/*** inputs ***/
	#inputs {
		background-color: #dddddd;
		width: 80%;
		height: 200px;
		position: fixed;
		top: 0px;
		left: 10%;
		text-align: center;
	}

	/* inputs-main */
		#inputs-main {
			position: absolute;
			bottom: 0px;
			left: 50%;
			height: 50px;
			width: 100%;
			transform: translateX(-50%);
		}

		#inputs-audio {
			z-index: 5;
			position: absolute;
			bottom: -25px;
			left: 0px;
			border-radius: 100%;
			border: 2px solid #222222;
			background-color: #dddddd;
			height: 100px;
			width: 100px;
			padding: 5px;
			cursor: pointer;
			outline: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			background-image: url(logo.png);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			transition: 0.5s;
		}

		#inputs-text {
			z-index: 2;
			float: left;
			border-radius: 5px;
			border: 2px solid #222222;
			background-color: #dddddd;
			color: #222222;
			font-family: 'Abel', sans-serif;
			font-size: 25px;
			height: 30px;
			width: calc(100% - 150px);
			padding: 8px 40px 8px 56px;
			outline: none;
			margin-left: 50px;
			transition: 0.5s;
		}

		#inputs-text[disabled] {
			cursor: not-allowed;
			color: #aaaaaa;
		}

		#inputs-audio:hover, #inputs-audio:focus, #inputs-text:hover, #inputs-text:focus {
			box-shadow: 0px 0px 10px #222222;
		}

		#inputs-countdown-outer {
			position: absolute;
			left: 50px;
			bottom: 0px;
			z-index: 4;
			pointer-events: none;
			width: calc(100% - 50px);
			height: 50px;
			border-radius: 5px;
			overflow: hidden;
		}

		#inputs-countdown {
			float: left;
			z-index: 4;
			pointer-events: none;
			background-color: #222222;
			height: 50px;
			width: 0%;
			border-radius: 5px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* inputs advanced */
		#inputs details summary::-webkit-details-marker {
			display:none;
		}

		#inputs-advanced {
			float: left;
			padding: 10px;
			height: auto;
			width: calc(100% - 20px);
		}

		#inputs-advanced-toggle {
			position: absolute;
			z-index: 3;
			bottom: 0px;
			right: 0px;
			height: 34px;
			width: 34px;
			margin: 0px;
			border: 0px;
			background-color: transparent;
			border-radius: 100%;
			color: #222222;
			font-family: 'Abel', sans-serif;
			font-size: 30px;
			padding: 8px;
			cursor: pointer;
			outline: none;
			line-height: 1;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			transition: 0.5s;
		}

		#inputs-advanced-toggle:hover, #inputs-advanced[open] #inputs-advanced-toggle {
			text-shadow: 0px 0px 10px #222222;
		}

		#inputs-advanced-inner {
			position: absolute;
			text-align: right;
			bottom: 50px;
			right: 0px;
			width: calc(100% - 110px);
			height: auto;
			padding-top: 5px;
			max-height: 145px;
			overflow-x: hidden;
			overflow-y: scroll;
		}

		#inputs-advanced label {
			display: inline-block;
			font-size: 15px;
			font-family: 'Abel', sans-serif;
			font-weight: bold;
			color: #111111;
			background-color: #aaaaaa;
			border-radius: 5px;
			padding: 5px;
			margin: 0px 0px 5px 5px;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			height: 25px;
		}

		#inputs-advanced label span {
			float: left;
			height: calc(100% - 10px);
			padding: 5px;
			line-height: 1;
		}

		#inputs-advanced input, #inputs-advanced select {
			float: left;
			border-radius: 5px;
			background-color: #dddddd;
			border: 0px;
			color: #111111;
			font-size: 15px;
			font-family: 'Abel', sans-serif;
			outline: none;
			transition: 0.5s;
			padding: 5px;
			margin: 0px;
			height: 15px;
		}

		#inputs-advanced input[type="checkbox"] {
			zoom: 2;
			cursor: pointer;
			height: 13px;
		}

		#inputs-advanced select {
			height: 25px;
			padding: 0px;
			cursor: pointer;
		}

		#inputs-advanced input:hover, #inputs-advanced input:focus, #inputs-advanced select:hover, #inputs-advanced select:focus {
			filter: drop-shadow(0px 0px 5px #222222);
		}

		#inputs-advanced input[type="checkbox"]:hover, #inputs-advanced input[type="checkbox"]:focus {
			filter: drop-shadow(0px 0px 2px #222222);
		}

		#inputs-advanced input[type="file"] {
			height: 0px;
			width: 0px;
			padding: 0px;
			margin: 0px;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		#inputs-advanced #inputs-configuration-label {
			margin: 0px;
			background-color: #dddddd;
			height: 15px;
			padding: 5px;
			line-height: 1;
			font-weight: bold;
			outline: none;
			transition: 0.5s;
		}

		#inputs-advanced #inputs-configuration-label:focus, #inputs-advanced #inputs-configuration-label:hover {
			filter: drop-shadow(0px 0px 5px #222222);
		}

/*** stream ***/
	#stream {
		height: calc(100% - 200px);
		width: 80%;
		margin: 200px auto 0px auto;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	/* history */
		.stream-history {
			float: left;
			background-color: transparent;
			padding: 0px;
			font-size: 15px;
			font-family: 'Abel', sans-serif;
			text-align: center;
			height: auto;
			width: 70%;
			margin: 10px 15% 10px 15%;
			overflow: hidden;
		}

		.stream-history:first-child {
			margin-top: 20px;
		}

		.stream-history:last-child {
			margin-bottom: 20px;
		}

		.stream-history-phrase {
			font-style: italic;
			padding: 10px;
			text-align: right;
			margin: 0px 5px;
			width: calc(100% - 30px);
			background-color: #cccccc;
			border-radius: 5px 5px 0px 0px;
		}

		.stream-history-action {
			padding: 0px;
			text-align: center;
			height: 50px;
			width: 100%;
			overflow: hidden;
			line-height: 1.1;
			color: #cccccc;
			border-radius: 5px;
		}

		.stream-history-action-icon {
			float: left;
			width: 40px;
			height: 40px;
			padding: 5px;
			font-size: 40px;
			background-color: #222222;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			line-height: 1.2;
		}

		.stream-history-action-name {
			float: left;
			width: calc(100% - 50px - 95px - 20px);
			font-size: 25px;
			font-weight: bold;
			height: 30px;
			padding: 10px;
			background-color: #444444;
		}

		.stream-history-action-time {
			float: left;
			width: 75px;
			height: 16px;
			padding: 17px 10px;
			font-size: 15px;
			background-color: #555555;
		}

		.stream-history-response {
			padding: 10px;
			text-align: left;
			margin: 0px 5px;
			width: calc(100% - 30px);
			background-color: #cccccc;
			border-radius: 0px 0px 5px 5px;
		}

	/* error */
		.stream-history-error .stream-history-action-name {
			background-color: #d03a3a;
		}

	/* special types */
		.stream-history h2 {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.stream-history a, .stream-history a:visited {
			color: #0093c4;
			text-decoration: none;
			cursor: pointer;
		}

		.stream-history a:focus, .stream-history a:hover {
			text-shadow: 0px 0px 5px #0093c4;
		}

		.stream-history table {
			border: 2px solid #222222;
			border-radius: 5px;
			text-align: center;
			margin: 10px;
			border-spacing: 2px;
			table-layout: fixed;
			font-size: 12px;
			width: auto !important;
			max-width: inherit !important;
		}

		.stream-history th {
			background-color: #111111;
			color: #dddddd;
			border-radius: 2px;
			width: 1000px;
		}

		.stream-history td {
			background-color: #bbbbbb;
			border-radius: 2px;
			width: 1000px;
		}

		.stream-history iframe {
			border: none;
			border-radius: 5px;
			width: 100%;
			min-height: 300px;
		}

		.stream-history img {
			border-radius: 5px;
			border: 2px solid #222222;
		}

		.stream-history details {
			padding: 0px 5px;
			margin-bottom: 5px;
		}

		.stream-history details summary {
			cursor: pointer;
			outline: none;
			background-color: #555555;
			font-weight: bold;
			padding: 5px;
			border-radius: 5px;
			color: #dddddd;
			margin: 0px -5px 0px -5px;
		}

		.stream-history details summary:focus, .stream-history details summary:hover {
			box-shadow: 0px 0px 10px #222222;
		}

		.stream-history pre {
			text-align: center;
			border-radius: 5px;
			border: 2px solid #222222;
			color: #222222;
			padding: 10px;
			font-family: monospace;
		}
